* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

    /* Login */
#login-box {
    border-radius: 20px;
}

#login-left {
    background-image: url(../img/isu-blur.png);
    background-size: cover;
    background-position: center;
    padding: 0;
    height: 600px;
    border-radius: 20px 0px 0px 20px;
}

#isu-icon {
    width: 200px;
}

h2#login-as {
    margin-top: 5rem;
    text-shadow: 1px 1px #C0C0C0;
}

a.login-button {
    text-decoration: none;
    color: white;
    width: 50%;
    padding: 15px;
    border-radius: 30px;
    background-color: #22DD22;
    font-size: 1.1rem;
}

a.login-button:hover {
    background-color: #009E60;
}

img#question-mark {
    cursor: pointer;
    width: 40px;
    float: right;
    margin-top: 3rem;
    margin-right: 1.5rem;
}

img#question-mark:hover {
    opacity: 0.5;
}

@media (min-width: 300px) and (max-width: 767px){

    #login-left {
        border-radius: 20px 20px 0px 0px;
        background-image: none;
        height: auto;
    }

    #isu-icon {
        width: 100px;
        margin-top: 2rem;
    }

    #login-box {
        background-image: url(../img/isu-blur.png);
        background-size: cover;
        background-position: center;
    }

    a.login-button {
        width: 70%;
        font-size: 1rem;
        padding: 10px;
    }

    h2#login-as {
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    img#question-mark {
        width: 30px;
        float: right;
        margin-top: 0rem;
        margin-right: 0rem;
        margin-bottom: 1rem;
    }

  
}

@media (min-width: 768px) and (max-width: 991px){

    #login-left {
        border-radius: 20px 20px 0px 0px;
        background-image: none;
        height: auto;
    }

    #login-box {
        background-image: url(../img/isu-blur.png);
        background-size: cover;
        background-position: center;
    }

    #isu-icon {
        width: 180px;
        margin-top: 2rem;
    }

    img#question-mark {
        width: 30px;
        float: right;
        margin-top: 0rem;
        margin-right: 0rem;
        margin-bottom: 1rem;
    }
}

/* Admin Dashboard */
#admin-sidebar {
    background-color: #36454F;
    height: 1000px;
}